{% extends "hometemplate.html" %}
{% block title %}Summary{% endblock %}
{% block content %}

<div class="container mt-5">
    <h2 class="text-center mb-4">Generated Images</h2>
    <div class="row justify-content-center">
        <div class="col-md-6 d-flex justify-content-center">
            <img src="https://picsum.photos/400/300?random=1" class="img-fluid" alt="Random Image 1">
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <img src="https://picsum.photos/400/300?random=2" class="img-fluid" alt="Random Image 2">
        </div>
    </div>
</div>


{% endblock %}