{% extends "hometemplate.html" %}

{% block title %}User Home{% endblock %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="container mt-4"> <!-- Added 'mt-4' for margin on top -->
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-sm mb-4 p-3"> <!-- 'mb-4' for spacing between rows, 'p-3' for padding -->
                <div class="card-body">
                    <h5 class="card-title text-center">Upcoming Quizzes</h5>
                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>Id</th>
                                <th>Subject</th>
                                <th>Chapter</th>
                                <th>date</th>
                                <th>No. of Questions</th>
                                <th>Duration</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in quiz %}
                            <tr>
                                <td>{{i.quiz_id}}</td>
                                <td>{{i.subject_name}}</td>
                                <td>{{i.chapter_name}}</td>
                                <td>{{i.date_of_quiz}}</td>
                                <td>{{i.num_questions}}</td>
                                <td>{{i.time_duration}}</td>
                                <td>{% if i.date_of_quiz >= today %}
                                    <a class="btn btn-success" target="_blank" href="/user/instructions/{{ i.quiz_id }}">
                                        Attend Quiz
                                    </a>
                                {% else %}
                                    <button class="btn btn-secondary" disabled>
                                        Attend Quiz
                                    </button>
                                {% endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}